# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
**/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vim/

# IDE - VSCode
/.vscode

# misc
/.angular/cache
/.angular
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Firebase
.firebase

# Compiled Ant Design themes
/libs/styles/src/lib/themes/**/*.css

# Compiled i18n data
/libs/locale/data/*/src/data/*
!/libs/locale/data/*/src/data/data.d.ts

.angular
.nx
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
